.main-header {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-weight: 900;
    width: 100%;
    height: 5rem;
    background-color: $clr1;
    font-size: 1rem;
    padding: 0;

    &.sticky-header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        z-index: 200;
        transition: opacity 0.03s ease, transform 0.03s ease;
        padding: $nerrowLayoutPadding;

        @media(min-width: 900px) {
            padding: $layoutPadding;
            max-width: 1464px;
        }
    }

    &.hidden {
        opacity: 0;
        pointer-events: none;
        height: 0;
        z-index: -100;
        transition: opacity .5s;
    }

    .scroll-background {
        position: absolute;
        width: 400%;
        background-color: rgb(255, 255, 255);
        height: inherit;
        left: -2000px;
        z-index: -1;
    }

    .logo {
        position: relative;
        color: rgb(66, 66, 66);
        font-family: macan;
        font-size: 2.1rem;
        font-weight: 1200;
        -webkit-text-stroke-width: 1px;
        margin-inline: auto;
        margin-top: -1rem;
        caret-color: transparent;
        // translate: -10%;
        letter-spacing: -.1rem;

        @media(min-width: 601px) {
            margin-top: 0;
            margin-left: 0;
            margin-right: 30px;
            margin-bottom: 10px;
        }

        &.active {
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
        }

        .white-dot {
            position: absolute;
            bottom: 55%;
            left: 15%;
            width: 7px;
            height: 7px;
            background-color: rgb(255, 255, 255);
            z-index: 1;
        }

        .dot {
            font-size: 2.5rem;
            color: $clr-btn-hov;
        }

    }

    .search-box {

        @media (max-width: 600px) {
            display: none;
        }

        flex-grow: 1;
        max-width: 40rem;

        @include for-mobile-layout {
            margin-block-start: 20px;
        }

        form {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            position: relative;

            label {
                width: 0;
            }
        }

        input {
            border-radius: 4px 0 0 4px;
            border: 1px solid rgba(150, 150, 150, .5);
            font-family: macan;
            font-size: 1rem;
            padding: .4rem .1rem .7rem 1rem;
            width: 100%;
            font-weight: 200;

            &::placeholder {
                color: rgb(133, 133, 133);
                font-weight: 200;
            }

            &:focus-visible {
                outline: none;
            }
        }

        .cancel-btn {
            display: block;
            position: absolute;
            right: 3.8rem;
            background-color: rgba(189, 189, 189, 0.5);
            color: rgb(126, 126, 126);
            border-radius: 50%;
            font-size: 0.875rem;
            width: 1.5rem;
            height: 1.5rem;
            padding: 3px;
            align-self: center;

            &.hidden {
                display: none;
            }
        }

        img {
            width: 16px;
            height: 16px;
            margin: 0;
            filter: invert(1);
        }

        .search-btn {
            margin: 0;
            background-color: rgb(0, 0, 0);
            border-radius: 0 4px 4px 0;
            padding: 8px 16px;
            width: fit-content;
        }

        .search-cover {
            position: fixed;
            left: 0;
            top: 5rem;
            background-color: rgba(0, 0, 0, .6);
            width: 100%;
            height: 150%;
            z-index: 10000;
            opacity: 1;
            transition: .3s;

            &.hidden {
                background-color: transparent;
                display: none;
                pointer-events: none;
                z-index: -10;
            }
        }
    }

    nav {
        display: none;
    }

    @media (min-width: 900px) {
        nav {
            position: relative;
            margin-left: auto;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            padding: 0;
            caret-color: transparent;

            a {
                margin-inline: .75rem;

                &:hover {
                    color: $clr-btn-hov;
                    transition: .5s;
                }

                &.active {
                    text-decoration: none;
                }

            }

            img {
                position: absolute;
                translate: -100% -65%;
                width: 30px;
                margin-left: 1rem;
            }

            button {
                font-family: inherit;
                font-size: inherit;
                font-weight: inherit;
                background-color: transparent;
                padding: 0;
                margin: 0 0.75rem;

                &:hover {
                    color: $clr-btn-hov;
                    transition: .5s;
                }

                &:last-child {
                    font-size: 0.875rem;
                    line-height: 0.875rem;
                    color: $clr-btn-hov;
                    border: 1px solid $clr-hov;
                    border-radius: 4px;
                    padding: 10px 16px;
                    margin-right: 0;

                    &:hover {
                        background-color: $clr-hov;
                        color: white;
                        transition: .5s;
                    }
                }
            }

            .user-info button {
                border: 0;

                img {
                    border-radius: 50%;
                    height: 100%;
                    aspect-ratio: 1;
                    object-fit: cover;
                }

                &:hover {
                    background-color: transparent;
                    border: 0;
                }
            }

            .profile-bar {
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 2rem;
                right: -2rem;
                translate: -2rem;
                border: 1px solid rgba(175, 175, 175, 0.5);
                background-color: rgb(255, 255, 255);
                padding: 5px 15px;
                z-index: 10;




                button,
                a {
                    border: 0;
                    padding-block: 5px;
                    padding-inline: 0;
                    margin: 0;
                    text-align: left;
                    font-size: inherit;
                    font-weight: inherit;
                    color: inherit;
                    width: auto;

                    &:hover {
                        background-color: transparent;
                        color: $clr-btn-hov;
                        transition: .5s;
                    }
                }
            }
        }
    }

    @media(max-width: 600px) {
        position: fixed;
        background-color: white;
        z-index: 110;
    }

    &.is-home {
        background-color: transparent;

        @media(max-width:600px) {
            background-color: white;
        }

        .logo {
            @media(min-width: 900px) {
                color: white
            }

            letter-spacing: -.1rem;
            font-family: macan;

            .white-dot {
                display: none;
            }
        }

        .search-box {
            display: none;
        }

        nav {

            button,
            a {
                background-color: transparent;
                color: white;
            }

            button:last-child {
                border: 1px solid white;

                &:hover {
                    border: 1px solid transparent;
                    transition: .5s;
                }
            }

            button.user-img {
                &:hover {
                    border: 0;
                }

                &:focus-visible {
                    outline: none;
                }

            }

            .user-info {
                button {
                    border: 0;
                }
            }

            .profile-bar {

                button,
                a {
                    color: rgba(0, 0, 0, .6);

                    &:hover {
                        color: $clr-btn-hov;
                        transition: .5s;
                    }
                }
            }
        }

    }
}

.hamburger {
    display: none;

    @media(max-width: 600px) {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        left: 5%;
        top: 1rem;
        // background-color: white;
        z-index: 110;

        span {
            margin: 0;
            padding: 0;
            height: 40px;
        }

        img {
            width: 30px;
            height: 30px;
            margin: 5px;
        }

        .user-info {
            img {
                border-radius: 50%;
            }
        }

        button {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            background-color: transparent;
            border: 1px solid $clr-btn-hov;
            border-radius: .5rem;

            &:hover {
                color: $clr-btn-hov;
                transition: .5s;
            }
        }

        .profile-bar {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 2rem;
            right: -2rem;
            translate: -2rem;
            border: 1px solid rgba(175, 175, 175, 0.5);
            background-color: rgb(255, 255, 255);
            padding: 5px 15px;
            z-index: 10;


            button,
            a {
                border: 0;
                padding-block: 5px;
                padding-inline: 0;
                margin: 0;
                text-align: left;
                font-size: inherit;
                font-weight: inherit;
                color: inherit;
                width: auto;

                &:hover {
                    background-color: transparent;
                    color: $clr-btn-hov;
                    transition: .5s;
                }
            }
        }
    }
}

.hamburger-bar {
    position: fixed;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, .95);
    width: 100vw;
    height: 100%;
    z-index: 120;
    font-size: 1.5rem;
    caret-color: transparent;
    top: 200vh;
    transition: 1s;

    a,
    button {
        border-bottom: 1px solid black;
        padding-block: 1rem;
        margin: 0;
        width: 100%;
        text-align: center;
        line-height: 4rem;
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
    }

    &.show {
        opacity: 1;
        top: 0;
        transition: .5s;
    }

}