.main-header {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-weight: 900;
    width: 100%;
    height: 5rem;
    background-color: $clr1;
    font-size: 1rem;
    padding: 0;

    &.sticky-header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        max-width: 1400px;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        z-index: 200;
    }

    &.hidden {
        opacity: 0;
        pointer-events: none;
        height: 0;
        z-index: -100;
        transition: opacity .5s;
    }

    .scroll-background {
        position: absolute;
        width: 400%;
        background-color: rgb(255, 255, 255);
        height: inherit;
        left: -2000px;
        z-index: -1;
    }

    .logo {
        position: relative;
        color: rgb(66, 66, 66);
        font-family: macan;
        font-size: 2.1rem;
        font-weight: 1200;
        -webkit-text-stroke-width: 1px;
        letter-spacing: -0.1rem;
        margin-right: 30px;
        margin-bottom: 10px;
        caret-color: transparent;

        &.active {
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
        }

        .white-dot {
            bottom: 53%;
            left: 15%;
            width: 10px;
            height: 10px;
            background-color: rgb(255, 255, 255);
            position: absolute;
            z-index: 1;
        }

        .dot {
            font-size: 2.5rem;
            color: $clr-btn-hov;
        }

    }

    @media (max-width: 600px) {
        display: block;    
    }
    
    .search-box {
        flex-grow: 1;
        max-width: 40rem;

        form {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            position: relative;

            label {
                width: 0;
            }
        }

        input {
            border-radius: 4px 0 0 4px;
            border: 1px solid rgba(150, 150, 150, .5);
            font-family: macan;
            font-size: 1rem;
            padding: .4rem .1rem .7rem 1rem;
            width: 100%;
            font-weight: 200;

            &::placeholder {
                color: rgb(133, 133, 133);
                font-weight: 200;
            }

            &:focus-visible {
                outline: none;
            }
        }

        .cancel-btn {
            display: block;
            position: absolute;
            right: 3.8rem;
            background-color: rgba(189, 189, 189, 0.5);
            color: rgb(126, 126, 126);
            border-radius: 50%;
            font-size: 0.875rem;
            width: 1.5rem;
            height: 1.5rem;
            padding: 3px;
            align-self: center;

            &.hidden {
                display: none;
            }
        }

        img {
            width: 16px;
            height: 16px;
            margin: 0;
            filter: invert(1);
        }

        .search-btn {
            margin: 0;
            background-color: rgb(0, 0, 0);
            border-radius: 0 4px 4px 0;
            padding: 8px 16px;
            width: fit-content;
        }

        .search-cover {
            position: fixed;
            left: 0;
            top: 5rem;
            background-color: rgba(0, 0, 0, .6);
            width: 100%;
            height: 150%;
            z-index: 10000;
            opacity: 1;
            transition: .3s;

            &.hidden {
                background-color: transparent;
                display: none;
                pointer-events: none;
                z-index: -10;
            }
        }
    }

    nav {
        display: none;
    }

    @media (min-width: 900px) {
        nav {
            position: relative;
            margin-left: auto;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            padding: 0;
            caret-color: transparent;
    
            a {
                margin-inline: .75rem;
    
                &:hover {
                    color: $clr-btn-hov;
                    transition: .5s;
                }
    
                &.active {
                    text-decoration: none;
                }
    
            }
    
            img {
                position: absolute;
                translate: -100% -65%;
                width: 30px;
                margin-left: 1rem;
            }
    
            button {
                font-family: inherit;
                font-size: inherit;
                font-weight: inherit;
                background-color: transparent;
                padding: 0;
                margin: 0 0.75rem;
    
                &:hover {
                    color: $clr-btn-hov;
                    transition: .5s;
                }
    
                &:last-child {
                    font-size: 0.875rem;
                    line-height: 0.875rem;
                    color: $clr-btn-hov;
                    border: 1px solid $clr-hov;
                    border-radius: 4px;
                    padding: 10px 16px;
                    margin-right: 0;
    
                    &:hover {
                        background-color: $clr-hov;
                        color: white;
                        transition: .5s;
                    }
                }
            }
    
            .user-info button {
                border: 0;
    
                img {
                    border-radius: 50%;
                    height: 100%;
                    aspect-ratio: 1;
                    object-fit: cover;
                }
    
                &:hover {
                    background-color: transparent;
                    border: 0;
                }
            }
    
            .profile-bar {
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 2rem;
                right: -2rem;
                translate: -2rem;
                border: 1px solid rgba(175, 175, 175, 0.5);
                background-color: rgb(255, 255, 255);
                padding: 5px 15px;
                z-index: 10;
    
    
                button,
                a {
                    border: 0;
                    padding-block: 5px;
                    padding-inline: 0;
                    margin: 0;
                    text-align: left;
                    font-size: inherit;
                    font-weight: inherit;
                    color: inherit;
                    width: auto;
    
                    &:hover {
                        background-color: transparent;
                        color: $clr-btn-hov;
                        transition: .5s;
                    }
                }
            }
        }
    }

    &.is-home {
        background-color: transparent;

        .logo {
            color: white;
            letter-spacing: normal;
            font-family: macan;

            .white-dot {
                display: none;
            }
        }

        .search-box {
            display: none;
        }

        nav {

            button,
            a {
                background-color: transparent;
                color: white;
            }

            button:last-child {
                border: 1px solid white;

                &:hover {
                    border: 1px solid transparent;
                    transition: .5s;
                }
            }

            button.user-img {
                &:hover {
                    border: 0;
                }

                &:focus-visible {
                    outline: none;
                }

            }

            .user-info {
                button {
                    border: 0;
                }
            }

            .profile-bar {

                button,
                a {
                    color: rgba(0, 0, 0, .6);

                    &:hover {
                        color: $clr-btn-hov;
                        transition: .5s;
                    }
                }
            }
        }

    }
}


.categories {
    position: relative;
    margin-top: 0;
    border: solid rgba(0, 0, 0, 0.1) 0.2px;
    border-inline: 0;
    opacity: 0;
    height: 0;
    pointer-events: none;
    // padding: .1rem;
    caret-color: transparent;
    background-color: white;


    .categories-list {
        // position: absolute;
        padding: 0;
        margin: 0;
        color: #242424;
        font-weight: 600;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: flex-start;
        max-width: 100%;
        gap: 3rem;
        white-space: nowrap;
        overflow: hidden;

        &.right {
            justify-content: flex-end;
            transition: 1s;
        }

        .swipe-categories-btn {
            opacity: 0;
            pointer-events: none;
        }

        @media (max-width: 1450px) {
            .swipe-categories-btn {
                position: absolute;
                opacity: 1;
                pointer-events: all;
                width: 1rem;
                right: 2rem;
                top: .5rem;
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, .7);
                cursor: pointer;

                &.left {
                    top: .3rem;
                    left: 2rem;
                    rotate: 180deg;
                }
            }
        }

        .category {
            cursor: pointer;
            padding: .4rem;
            caret-color: transparent;

            &:hover {
                box-shadow: 0px -3px 0px 0px rgba(27, 173, 54, 1) inset;
            }

            &:first-child {
                padding-left: 0;
            }
        }
    }

    &.hidden {
        opacity: 0;
        transition: .5s;
    }

    &.sticky-categories {
        top: 5rem;
        position: fixed;
        width: 100%;
        z-index: 100;
        opacity: 1;
        transition: opacity .4s ease-in .2s;
    }
}

@media (min-width: 600px) {
    .categories {
        opacity: 1;
        height: auto;
        pointer-events: all;
    }
}

.blur-background {
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    width: 100%;
    height: 1000%;
    z-index: 500;
}

.sign-up {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0.75rem;
    left: 50%;
    translate: -50%;
    width: 890px;
    height: 520px;
    background-color: white;
    box-shadow: 1px 0px 4px 1px rgba(0, 0, 0, 0.3);
    z-index: 1000;


    .sign-up-modal {
        height: 100%;


        .sign-up-dezine {
            border-bottom-left-radius: 0.75rem;
            border-top-left-radius: 0.75rem;
            position: relative;
            background-image: url("https://fiverr-res.cloudinary.com/npm-assets/layout-server/standard.c6d3ba7.png");
            background-size: cover;
            flex-basis: 50%;
            height: 100%;

            .sign-up-dezine-txt {
                color: $clr1;
                margin: 54px 0 0 40px;
                position: absolute;
                width: calc(100% - 40px);

                h2 {
                    font-size: 2rem;
                    margin-bottom: 0;
                    color: $clr1;
                }

                ul {
                    font-weight: 200;
                    margin-top: 1.6rem;

                    li {
                        align-items: baseline;
                        max-width: 22rem;
                        font-size: 18px;
                        line-height: 26px;
                        margin-bottom: 1rem;

                        p {
                            margin-left: 0.5rem;
                        }
                    }
                }
            }
        }

        .sign-up-content {
            flex-basis: 50%;
            display: grid;
            grid-template-columns: 2.5rem 1fr 2.5rem;
            grid-auto-rows: max-content;

            >* {
                grid-column: 2;
            }

            .cancel-sign-up {
                grid-column: 3;
                position: absolute;
                right: 1rem;
                top: 1rem;
            }

            .txt-display-1 {
                margin-top: 4.4rem;
                margin-bottom: 1.5;
                font-size: 1.5rem;
                color: $clr-btn-search;
            }

            .txt-display-2 {
                margin-top: 1rem;
                font-weight: 300;
                color: $clr-font;
            }

            .inbox {
                height: 2.5rem;
                width: 100%;
                background-color: #e8f0fe;
                border: 1px solid gray;
                border-radius: 4px;
                padding: 10px;
            }

            .submit-signin,
            .submit-signup {
                margin-top: 4rem;
                color: white;
                height: 2.5rem;
                width: 100%;
                background-color: #000;
                border: 1px solid gray;
                border-radius: 4px;
                padding: 10px;
            }
        }

    }
}