.dashboard-user-details-container {
    display: grid;
    grid-template-areas:
        "header header "
        "main main "
        "footer footer ";
    border: 1px solid $clr-border;
    width: rem(340px);
    height: fit-content;
    padding: 20px;
    background-color: $clr1;
    border-radius: rem(4px);
    margin-block-end:rem(20px);
    
    @include for-mobile-layout {
    width: auto;
    }

    li {
        font-weight: 600;
    }

    span {
        font-weight: 700;
        font-size: 18px;
    }

    header {
        display: grid;
        grid-template-columns: min-content auto auto;
        align-items: center;
        border-block-end: 1px solid $clr-border;
        padding-block-end: rem(26px);
        margin-block-end: rem(26px);
        grid-area: header;

        .user-img {
            margin-inline-end: 8px;
        }

        .user-name {
            font-size: rem(18px);
            font-weight: 400;
        }

        .user-rate {
            font-size: rem(15px);
            font-weight: 400;
            justify-self: flex-end;
        }
    }

    .user-dashboard-content {
        grid-area: main;
        display: grid;
        grid-template-columns: auto 1fr auto;
        border-block-end: 1px solid $clr-border;
        padding-block-end: rem(16px);
        margin-block-end: 1rem;
        align-items: center;

        >* {
            padding-block-end: rem(12px);
        }

        .user-dashboard-progress-bar {
            padding-inline: 10px;
            min-width: 60px;

            .progress-bar-filler {
                background-color: $clr-hov;
            }
        }
    }

    footer {
        grid-area: footer;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
    }

    img {
        width: 60px;
        height: 60px;
        font-size: 1.2em;
        border-radius: 50%;
    }

    li {
        color: $clr-font-dark;
    }
}