.gig-preview {
    padding: 0;

    .gig-img {
        border-radius: 8px;
        object-fit: fill;
        margin: 0;
    }

    .owner-details {
        align-items: center;
        font-size: 0.875em;
        line-height: 1.31em;
        column-gap: 8px;
        margin-top: 0.75em;
        margin-bottom: 0.75em;

        .owner-img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
            object-fit: cover;
        }

        .owner-name {
            color: $clr-btn-search;
            align-items: center;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .title {
        color: $clr-font-dark;
        padding-top: 4px;
        font-size: 1em;
        line-height: 130%;
        margin: 0;
        font-weight: 200;

        &:hover {
            text-decoration: underline;
        }
    }

    .rating {
        color: $clr-btn-search;
        margin-top: 0.5em;
        padding-left: 4px;
        font-size: 1em;
        font-weight: bold;

        span {
            color: $clr2;
            padding: 0px 0px 0px 4px;
            font-weight: 200;
        }
    }

    .price {
        margin: 0;
        margin-top: 0.5em;
        font-size: 1em;
        line-height: 1.5em;
        color: $clr-btn-search;
        font-weight: bold;

        &:hover .title {
            text-decoration: underline;
        }
    }
}