.main-swiper {

    aspect-ratio: 16/9;
    background-color: $clr-background;
    width: 712px;
    height: 427px;


    img {
        width: 100%;
        aspect-ratio: 16/9;
        transition: transform 0.3s;
        object-fit: scale-down;

        &:hover {
            transform: scale(1.1);
        }
    }

}




.thumbs-swiper {
    padding-top: 5px;
    width: 712px;

    .swiper-slide {
        opacity: 0.4;
        aspect-ratio: 16/9;

        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 16/9;

        }

        &-thumb-active {
            opacity: 1;
        }
    }
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #161418;

    .main-swiper img {
        cursor: default;
        object-fit: contain;
    }

    .close-button {
        display: block;
    }

    .thumbs-swiper {
        background-color: #000;
        height: 20%;
        position: fixed;
        bottom: 0;
        width: 100%;
        opacity: 0;
        z-index: 10;
        transition: opacity 0.3s ease-in-out;
        transition-delay: 0.5s;

        &:hover {
            opacity: 1;
            transition-delay: 0s;
        }
    }
}

.btn-swiper-back {
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
    height: 48px;
    margin-block-start: -75px;
    position: absolute;
    text-align: center;
    inset-block-start: 50%;
    width: 48px;
    z-index: 4;
    border-radius: 30px;
    inset-inline-start: 42px;
    cursor: pointer;
    transform: translateY(-50%);

    @include for-normal-layout {
        inset-inline-start: 17px;
    }

    &::after {
        background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/gig_page_perseus/arrows.c651879.svg) no-repeat;
        background-size: 16px 64px;
        content: "";
        display: inline-block;
        height: 16px;
        margin-block-start: 16px;
        width: 16px;
        background-position: 0 -32px;
    }
}

.btn-swiper-next {
    background-color: $clr1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
    height: 48px;
    margin-block-start: -75px;
    position: absolute;
    text-align: center;
    inset-block-start: 50%;
    width: 48px;
    z-index: 4;
    border-radius: rem(30px);
    transform: translateY(-50%);
    cursor: pointer;
    inset-inline-end: 42px;
    margin-block-start: -75px;
    @include for-normal-layout {
        inset-inline-end: 17px;
    }

    &::after {
        background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/gig_page_perseus/arrows.c651879.svg) no-repeat;
        background-size: 16px 64px;
        content: "";
        display: inline-block;
        height: 16px;
        margin-block-start: 16px;
        width: 16px;
        background-position: 0 -48px;


    }
}