.gig-preview {
    padding: 0;

    .gig-img {
        border-radius: 8px;
        // object-fit: cover;
        margin: 0;
    }

    .owner-details {
        align-items: center;
        font-size: 0.875rem;
        line-height: 1.5em;
        column-gap: 0.5rem;
        margin-top: 0.65em;
        margin-bottom: 0.6em;
        font-weight: 400;

        .owner-img {
            width: 1.6em;
            height: 1.6em;
            border-radius: 50%;


        }

        .owner-name {
            font-size: 0.7rem;
            color: $clr-btn-search;
            align-items: center;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .title {
        color: $clr-font-dark;
        // padding-top: 4px;
        font-size: 0.8rem;
        line-height: 130%;
        margin: 0;
        font-weight: 300;

        &:hover {
            text-decoration: underline;
        }
    }

    .rating {
        margin-top: 0.6rem;
        line-height: 1.5rem;
        font-size: 0.8rem;

        .star {
            font-size: 0.7rem;
            line-height: 2em;
            color: $clr-btn-search;
            fill: $clr-btn-search;
        }

        .average {
            padding-left: 4px;
            font-weight: bold;
            color: $clr-btn-search;
        }

        .num {
            padding-left: 4px;
            font-weight: 300;
        }

        // color: $clr2;

    }

    .price {
        margin: 0;
        margin-top: 0.35em;
        margin-bottom: 0.05;
        font-size: 0.8rem;
        // line-height: 1.5em;
        color: $clr-btn-search;
        font-weight: bold;

        &:hover .title {
            text-decoration: underline;
        }
    }
}