.gig-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    list-style: none;
    overflow: auto;

    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}