.preview-carousel {

    img {
        border-radius: 0.5rem;
        width: 100%;
        aspect-ratio: 1.77;
        object-fit: cover;
    }

    .custom-arrow.custom-arrow-prev {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        background-color: white;
        width: 2rem;
        /* Adjusted width */
        height: 2rem;
        /* Adjusted height */
        border-radius: 50%;
        padding: 5px;
        /* Adjusted padding */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .custom-arrow.custom-arrow-next {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        background-color: white;
        width: 2rem;
        /* Adjusted width */
        height: 2rem;
        /* Adjusted height */
        border-radius: 50%;
        padding: 5px;
        /* Adjusted padding */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img:hover .custom-arrow.custom-arrow-next {
        display: block;

    }

    .custom-arrow.custom-arrow-prev .arrow-icon,
    .custom-arrow.custom-arrow-next .arrow-icon {
        color: #62646a;
        font-size: 1rem;
        /* גודל החץ */
    }

    .custom-arrow.custom-arrow-prev .arrow-icon {
        transform: rotate(180deg);
    }

    .custom-arrow.custom-arrow-prev .arrow-icon:before,
    .custom-arrow.custom-arrow-next .arrow-icon:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f054";
    }
}

// .preview-carousel {
//     position: relative;

//     img {
//         border-radius: 0.5rem;
//     }

//     .custom-arrow {
//         position: absolute;
//         top: 50%;
//         transform: translateY(-50%);
//         background-color: white;
//         width: 2rem;
//         height: 2rem;
//         border-radius: 50%;
//         padding: 5px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         opacity: 0;
//         transition: opacity 0.3s ease-in-out;
//     }

//     .custom-arrow-prev {
//         left: 5%;
//     }

//     .custom-arrow-next {
//         right: 5%;
//     }

//     .preview-carousel:hover .custom-arrow {
//         opacity: 1;
//     }

//     .custom-arrow .arrow-icon {
//         color: #62646a;
//         font-size: 1rem;
//     }

//     .custom-arrow-prev .arrow-icon {
//         transform: rotate(180deg);
//     }

//     .custom-arrow .arrow-icon:before {
//         font-family: "Font Awesome 5 Free";
//         font-weight: 900;
//         content: "\f054";
//     }
// }