.review-preview {


    .review-preview-item {

        @media(max-width:600px) {
            flex-direction: column;
        }
    }

    .user-img {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin-top: 4px;
        margin-inline-end: 20px;
    }

    .review-preview-details {
        .user-name {
            color: $clr-font-dark;
            font-weight: 700;
        }

        .user-info {
            flex-wrap: wrap;
            >* {
                padding-inline-end: 8px;
                align-items: center;
            }
        }
    }
}