.review-item{
    padding-block: rem(40px);
    span{
        font-weight: 300;
    }
    .review-content {
        margin-left: 64px;
        color:$clr-font-dark;
    }

.user-review-details {
    display: flex;
    align-items: start;
    .user-name{
        color:$clr-font-dark;
    }
    

    .user-img {
        border-radius: 50%;
        width: 48px;
        height: auto;
       
    }

    .user-info {
        padding-left: 15px;
        align-items: flex-start;
        flex-direction: column;
        


        .user-username-line {
            .user-name {
                color: $clr-font-dark;
                font-weight: 700;
                margin-right: 8px;

            }
        }

        .user-country {
            font-size: 14px;
            font-weight: 300;
        }

        .reviews-rate {
            display: flex;
            align-items: center;
            padding-block-start: rem(20px);
            padding-block-end: rem(12px);
           & .star-rating .star{
            cursor:default;
            }

            & >* {
                padding-inline-end: rem(8px);
                
            }

        }
    }

    
}
}