.gig-container {
    padding: rem(32px);
    margin: auto;
    max-width: $wide-breakpoint;
    margin-bottom: 0;

    h1 {
        overflow-wrap: break-word;
        font-size: em(28px);
        line-height: 130%;
        color: $clr-font-dark;
        margin: 0;
        padding-block-end: rem(16px);
    }

    h2 {
        line-height: rem(28px);

    }
}

.trash {
    position: absolute;
    inset-inline-start: 1023px;
    inset-block-start: 132px;
}

.gig-details {
    margin-inline-end: 5.5%;
    width: 59.5%;

    .buyer-msg {
        width: 19rem;
        height: 4rem;
        background-color: #ffffff;
        bottom: 32px;
        border-radius: 68px;
        cursor: pointer;
        position: sticky;
        z-index: 100;
        align-items: center;
        padding: 0.5rem 1.5rem 0.5rem 0.5rem;
        box-shadow: 0 0 2.17px .05rem, 0 1.75px 6.01px .07rem, 0 3.63px 14.47px .091rem, 0 22px 48px .14rem;

        .owner-img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }

        .background-dot {
            position: relative;
            bottom: -17px;
            right: 15px;

            .point {
                width: 17px;
                height: 17px;
                background-color: #b5b6ba;
                border-radius: 50%;
                border: 3px #fff solid;

                &.isOnline {
                    background-color: #1dbf73;
                }
            }

        }

        .owner-details {
            font-weight: 700;

            .response-time {
                font-size: 0.75rem;
                font-weight: 300;

                span {
                    font-weight: 700;
                }
            }
        }
    }


    .gig-overview {
        &-filter-nav {
            a {
                font-size: 14px;
                color: $clr-link;
                text-decoration: underline;
                font-weight: 300;
            }

            span {
                margin-inline: 8px;
            }
        }


        .seller-details {
            >* {
                margin-inline-end: 1em;
                align-items: center;
            }

            & img {
                max-width: 100%;
                width: 30px;
                height: auto;
            }

            .seller-info {

                >* {
                    padding-inline-end: 8px;
                    align-items: center;
                }
            }
        }



        .notable-clients-bar {

            border-block-start: 1px solid $clr-border ;
            padding-top: 20px;
            margin-bottom: 16px;
            margin-top: 16px;

            .notable-clients-title {
                color: $clr-font-dark;
            }

            >* {
                margin-inline-end: 1em;
                align-items: center;
                font-size: rem(14px);
            }
        }
    }

    .gig-imgs-container {
        width: auto;
        position: relative;
        margin-block-end: 64px;
    }

    .review-preview {
        margin-block-end: 64px;

        .review-preview-title {
            color: $clr-font-dark;
        }

        .review-preview-list {
            padding: 20px;
            border-radius: 0.5rem;
            border: 2px solid $clr-border;
        }
    }

    .about-gig {
        &-title {
            padding-bottom: 25px;
        }

        margin-block-end: 96px;
    }

    .seller-details-card-title {
        padding-bottom: 25px;
    }
}

.inbox-msg {
    background-color: #fff;
    width: 420px;
    height: 510px;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
    position: fixed;
    margin-left: 2rem;
    border: $clr-border 1px solid;
    border-radius: 0.25rem;
    row-gap: 1.5rem;

    .details-area {
        padding: 1.25rem;

        .owner-img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }

        .background-dot {
            position: relative;
            bottom: -32px;
            right: 16px;

            .point {
                width: 17px;
                height: 17px;
                background-color: #b5b6ba;
                border-radius: 50%;
                border: 3px #fff solid;

                &.isOnline {
                    background-color: #1dbf73;
                }
            }

        }

        .owner-details {
            font-weight: 700;

            .response-time {
                font-size: 0.75rem;
                font-weight: 300;

                span {
                    font-weight: 700;
                }
            }
        }
    }

    .close {
        cursor: pointer;
        position: absolute;
        right: 24px;
        top: 12px;
    }

    textarea {
        border: none;
        padding: 1.25rem;
        font-size: 1rem;
        line-height: 1.5rem;
        border-top: 1px solid $clr-border;
        resize: none;
        color: #bbbbbb;
        width: auto;
    }

    .send-msg {
        color: white;
        background-color: #1dbf73;
        padding: 16px 9px;
        border-radius: 4px;
        font-size: 1rem;
        justify-content: center;
        margin: 1.25rem;

        p {
            margin-left: 0.5rem;
        }
    }

}