.container {
    position: fixed;
    top: 40%;
    left: 0;
    width: 100%;
    height: calc(100vh / 3);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 6rem;
    height: 6rem;
    border: 0.8rem solid #16b910;
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}