.gig-details {

    margin-inline-end: 5.5%;
    width: 59.5%;


    .seller-details {
        >* {
            margin-inline-end: 1em
        }

        & img {
            width: auto;
        }

        .seller-name {
            color: $clr-font-dark;
        }

        .seller-img {
            & img {
                border-radius: 50%;
            }
        }
    }

    .gig-imgs-contener {
        width: 300px;

    }

    .img-preview {
        width: 50px;
    }

    .review-list {
        padding: 20px;
        border-radius: 1rem;
        border: 2px solid $clr-font;
    }
}