.main-home {
    display: flex;
    flex-direction: column;
    // width: 45%;
    // min-width: 350px;
    color: white;
    margin-block: 8.5%;
    font-size: 0.875rem;

    h2 {
        font-size: 2rem;
        line-height: 120%;
        color: white;

        span {
            font-family: domaine;
            font-weight: 200;
        }
    }

    .search-box {
        form {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            position: relative;
            margin-top: .4rem;
            margin-bottom: 1.2rem;

            label {
                width: 0;
            }
        }

        input {
            border-radius: 4px 0 0 4px;
            border: 0.5px solid rgb(150, 150, 150);
            font-family: macan;
            font-size: 1rem;
            padding: 10px 2px 10px 16px;
            height: 3rem;
            width: 100%;
            font-weight: 200;

            &::placeholder {
                color: rgb(133, 133, 133);
                font-weight: 200;
            }

            &:focus-visible {
                outline: none;
            }
        }

        .cancel-btn {
            display: block;
            position: absolute;
            right: 5rem;
            background-color: rgb(216, 216, 216);
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            padding: 0;
            align-self: center;
            justify-self: center;

            &.hidden {
                display: none;
            }
        }

        img {
            width: 2rem;
            height: 1rem;
            margin: 0;
            filter: invert(1);
        }

        .search-btn {
            background-color: rgb(29, 191, 115);
            margin: 0;
            border-radius: 0 4px 4px 0;
            padding: 8px 16px;
            width: fit-content;
        }

        .search-cover {
            display: none;
            position: fixed;
            left: 0;
            top: 80px;
            background-color: rgba(0, 0, 0, .3);
            width: 100%;
            height: 150%;
            z-index: 10000;

            &.hidden {
                background-color: transparent;
                pointer-events: none;
                z-index: -10;
            }
        }
    }
}

.slide-container {
    .black-background {
        background-color: black;
        height: 25rem;
    }

    &>* {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: -10;
        transition: 1s;

        img {
            height: 42.5rem;
            width: 100%;
            object-fit: cover;
        }

        span {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1rem;
            font-weight: 200;
        }

        p {
            font-weight: 600;
            letter-spacing: .01rem;
            color: white;
            justify-self: end;
            translate: 0 -6rem;

            span {
                font-weight: 600;
            }
        }
    }
}

.popular-btns {
    display: none;
    >* {
        border: 1px solid white;
        border-radius: 3rem;
        background-color: transparent;
        font-weight: 600;
        color: white;
        margin-inline: .6rem;
        letter-spacing: .05rem;

        &:hover {
            color: black;
            background-color: white;
            transition: 0.5s;
        }
    }
}

.popular-services-container {
    overflow: hidden;
    margin-top: 16rem;
    position: relative;

    h2 {
        font-family: macan;
        font-size: 2rem;
        font-weight: 600;
        color: #2e2f31;
        margin-bottom: 2rem;
    }

    button {
        background-color: rgb(255, 255, 255);
        position: absolute;
        z-index: 10;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        font-weight: 900;
        top: 48%;
        margin: 0;
        padding: .7rem;
        left: -1.2rem;
        box-shadow: 0 10px 5px 0 rgba(0, 0, 0, .15);

        &:last-child {
            left: auto;
            right: -1.2rem;
        }

        img {
            width: 1.2rem;
        }
    }
    .arrow{display: none;}
}

.popular-services {
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    li {
        position: relative;
        cursor: pointer;

        &:hover {
            opacity: .8;
            transition: .5s;
        }

        img {
            height: 100%;
            width: 100%;
            border-radius: .4rem;
        }

        h2 {
            position: absolute;
            top: 0;
            color: white;
            font-size: 1.5rem;
            padding: 1rem;

            span {
                font-size: 1rem;
                display: block;
                line-height: 1.5rem;
            }
        }
    }
}

.best-part-everything-container {
    background-color: rgb(241, 253, 247);
    margin-block: 6rem;
}

.best-part-everything {
    margin-block: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 2rem;
        font-weight: 900;
        color: #2e2f31;
        padding-bottom: .5rem;
    }

    h3 {
        padding: .1rem;
        line-height: .9rem;
        color: black;
        font-weight: 900;

        svg {
            width: 1.5rem;
            height: 1.5rem;
            filter: invert(50%);
            margin-bottom: -.3rem;
            margin-right: .5rem;
        }
    }

    p {
        font-size: 1.1rem;
        font-weight: 200;
        width: 65%;
        padding-bottom: 0.75rem;
    }
}

.home-category {
    // margin-top: 20rem;
    caret-color: transparent;

    h1 {
        font-size: 2rem;
        color: #2e2f31;
    }
}

.home-category-display {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    // flex-wrap: wrap;
    margin-bottom: 6rem;

    button {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: .7rem;
        padding: 0 10px 55px;
        // width: 20%;
        margin: 0;

        img {
            width: 3rem;
            margin-bottom: 1rem;
        }

        .category-border {
            width: 3rem;
            margin-top: -.5rem;
            border-bottom: 2px solid rgb(192, 190, 190);
        }

        &:hover .category-border {
            border-bottom: 1px solid $clr-btn-hov;
            scale: 1.8 1;
            transition: .3s;
        }

        h2 {
            font-size: 1rem;
            margin-top: 1rem;
            font-weight: 600;
        }
    }
}

.join-finerr-img {
    position: relative;
    height: 23.8rem;
    overflow: hidden;

    img {
        margin-top: -2.2%;
    }

    h2 {
        position: absolute;
        top: 35%;
        left: 6rem;
        font-family: macan;
        font-size: 3rem;
        line-height: 1.8rem;
        color: white;

        span {
            font-family: domaine;
            font-weight: 200;
        }

        button {
            margin-top: 3.4rem;
            margin-left: -.05rem;
            height: 2.6rem;
            width: 8.2rem;
            border-radius: 4px;
            background-color: $clr-hov;
            color: white;
            font-size: 1rem;
            font-family: macan;
            font-weight: 400;
            padding-bottom: .5rem;
        }
    }
}

.hero{display: none}

@media(min-width: 900px) {
    .main-home{
        min-width: 650px;
        width: 45%;
        h2{
            font-size: 3rem;
            line-height: 3.5rem;
        }
    }
    .best-part-everything{
        flex-direction: row;      
    }
    .hero{display: inline}
    .popular-btns {display: inline;}
    .home-category-display{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .popular-services-container{
        .arrow{display: inherit;}
    }
}
