.user-dashboard {
    background-color: $clr-background;


    >* {

        margin-block-start: 20px;
    }

    .dashboard-content {


        >* {
            border: 1px solid $clr-border;
            width: auto;
            padding-inline: 50px;
            background-color: $clr1;
            height: rem(350px);
            text-align: center;

            @include for-normal-layout {
                min-width: rem(400px);
            }

            @include for-first-break-layout {
                height: auto;
            }

            .dashboard-funds {
                border: 1px solid $clr-border;
                max-width: 456px;
                background-color: $clr1;
                height: 276px;
                border-radius: rem(4px)
            }

            .dashboard-orders {
                border: 1px solid $clr-border;
                max-width: 456px;
                background-color: $clr1;
                height: 276px;
                border-radius: rem(4px)
            }
        }


        @include for-normal-layout {
            flex-direction: row;
        }

    }
}