* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr-btn-search;
    color: $clr-hov;
}

html {
    font-family: macan, Helvetica-Neue, Helvetica, arial, sans-serif;
    line-height: 1.6;
    color: $clr-font;
}

body {
    margin: 0;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: macan, Helvetica-Neue, Helvetica, arial, sans-serif;
    margin: 0 0 0.6em;
    line-height: 1;
    // new:
    color: $clr-font-dark;
}

// new:
h1 {
    font-size: rem(38px);
}

h2 {
    font-size: rem(20px);
}

img {
    width: 100%;
}

p {
    // changes to p:
    // margin: 0 0 1em;
    margin: 0;
    font-weight: 300;
}

.btn {
    @include btn;

    &-header {
        @include btn($type: header-btn);
    }

    &-main-filter {
        @include btn($type: main-filter);
    }

    &-hero {
        @include btn($type: hero-btn);
    }

    &-gig-contact {
        @include btn($type: gig-contact);
    }

    &-black {
        @include btn($type: black);
    }
}

a {
    text-decoration: none;
    color: $clr-font;

    &.active {
        color: $clr-font;
        text-decoration: underline;
    }

}