* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr-btn-search;
    color: $clr-hov;
}

html {
    font-family: macan;
    line-height: 1.6;
    color: $clr-font;
}

body {
    margin: 0;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family:Helvetica-Neue,Helvetica, arial, sans-serif ;
    margin: 0 0 0.6em;
    line-height: 1;
}


section, main, footer {
    padding: 5px;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

.btn {
    @include btn;
    
    &-header {
        @include btn($type: header-btn);
    }
    
    &-main-filter {
        @include btn($type: main-filter);
    }
    
    &-hero {
        @include btn($type: hero-btn);
    }
}

a {
    text-decoration: none;
    color:$clr-font;

&:hover {
    color: $clr-btn-hov;
    text-decoration: underline;
}

&.active {
    color:$clr-font ;
    text-decoration: underline;
  }

}

