// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

// margin helpers

.margin-inline-end-8 {
    margin-inline-end: rem(8px)
}

.margin-inline-end-16 {
    margin-inline-end: rem(16px)
}

.margin-block-end-20 {
    margin-block-end: rem(20px)
}

// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.row {
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.justify-between {
        justify-content: space-between;
    }

    &.align-start {
        align-items: flex-start
    }
}

// gap helpers
.gap-16 {
    gap: 1rem;
}

// padding helpers

.padding-bottom-16 {
    padding-bottom: 1rem;
}

.padding-bottom-12 {
    padding-bottom: rem(12px);
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

// Aspect ratios

.ratio-16-9 {
    @include aspect-ratio(100, 56);
}

.ratio-square {
    @include aspect-ratio(100, 100);
}

.ratio-card {
    @include aspect-ratio(100, 80);
}

.ratio-poster {
    @include aspect-ratio(100, 150);
}

/* font awsome */

.fa {
    font-family: fa;
}

.fa.fa-facebook::before {
    content: "\f39e";
}

.fa.fa-twitter::before {
    content: "\f099";
}

.fa.fa-dribbble::before {
    content: "\f17d";
}

.fa.fa-behance::before {
    content: "\f1b4";
}

.txt-bold {
    font-weight: 700;
}

// Card helpers

.border-top {
    border-block-start: 1px solid $clr-border ;
}

.border-bottom {
    border-block-end: 1px solid $clr-border ;
}

// text helpers

.underline {
    text-decoration: underline;
}

// cursor helpers
.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}