.main-layout {
    display: grid;
    @include layoutGTC($wide-breakpoint);
    align-items: start;

    &.app {
        min-height: 100vh;
        grid-template-rows: auto 1fr auto;
      }

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    // @include for-narrow-layout {
    //     @include layoutGTC($wide-breakpoint);
    //   }
      
    //   @include for-normal-layout {
    //     @include layoutGTC($normal-breakpoint);
    //   }
      
    //   @include for-wide-layout {
    //     @include layoutGTC($wide-breakpoint);
    //   }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}