.main-layout {
  display: grid;
  @include layoutGTC($wide-breakpoint);
  
  // @include for-mobile-layout{
    // display: flex;
    // flex-direction:column;
  // }

  &.app {
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  }

  >* {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }
  }

  // @include for-narrow-layout {
  //     @include layoutGTC($wide-breakpoint);
  //   }

  //   @include for-normal-layout {
  //     @include layoutGTC($normal-breakpoint);
  //   }

  //   @include for-wide-layout {
  //     @include layoutGTC($wide-breakpoint);
  //   }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.checkout-layout {
  display: flex;
  flex-direction: column;

  .payment-container {
    align-self: start;
  }

  @include for-normal-layout {
    display: grid;
    grid-template-columns: auto auto;
  }
}


.user-dashboard-container {
  display: flex;
  flex-direction: column;

  .dashboard-content {
    display: flex;
    flex-direction: column;

    >* {
      margin-block-end: rem(20px);
    }
    @include for-first-break-layout {
      >*{
        margin-block:0;
      }
    }
  }

  @include for-first-break-layout {
    display: grid;
    grid-template-areas:
      "a b "
      "a b "
      "c c ";

    .dashboard-user-details-container {
      grid-area: a;
    }

    .dashboard-content {
      grid-area: b;
    }

    .order-index {
      grid-area: c;
    }
  }

}