@font-face {
    font-family: arial;
    src: url(../../fonts/arial-cufonfonts/ARIAL.TTF);
}
@font-face {
    font-family:Helvetica-Neue;
    src: url(../../fonts/helveticaneue/HelveticaNeue.ttf);
}

@font-face {
    font-family:Helvetica;
    src: url(../../fonts/Helvetica-Font/Helvetica.ttf);
}

@font-face {
    font-family:sans-serif;
    src: url(../../fonts/sans-serif/SansSerifBookFLF-Italic.otf);
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


// NO FREE FONT
// @font-face {
//     font-family:Macan;
//     src: url();
// }

