@font-face {
    font-family: macan;
    font-weight: 200;
    src: url(../../fonts/macan/MacanPanWeb-Light.ttf);
}

@font-face {
    font-family: macan;
    font-weight: 400;
    src: url(../../fonts/macan/MacanPanWeb-Regular.ttf);
}

@font-face {
    font-family: macan;
    font-weight: 600;
    src: url(../../fonts/macan/MacanPanWeb-Semibold.ttf);
}

@font-face {
    font-family: macan;
    font-weight: 900;
    src: url(../../fonts/macan/MacanPanWeb-Bold.ttf);
}

@font-face {
    font-family: macan;
    font-weight: 1200;
    src: url(../../fonts/macan/MacanPanWeb-Extrabold.ttf);
}

@font-face {
    font-family: arial;
    src: url(../../fonts/arial-cufonfonts/ARIAL.TTF);
}
@font-face {
    font-family:Helvetica-Neue;
    src: url(../../fonts/helveticaneue/HelveticaNeue.ttf);
}

@font-face {
    font-family:Helvetica;
    src: url(../../fonts/Helvetica-Font/Helvetica.ttf);
}

@font-face {
    font-family:sans-serif;
    src: url(../../fonts/sans-serif/SansSerifBookFLF-Italic.otf);
}

@font-face {
    font-family:domaine;
    src: url(../../fonts/domaine/test-domaine-display-medium-italic.woff2);
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');



