// Colors
$clr1: #fff;
$clr-hov: #1dbf73;
$clr-btn-hov: #19a463;
$clr-btn-search: #222325;
$clr-font: #62646a;
// search-hov-to
$clr-font-dark: #404145;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;