// Colors
$clr1: #fff;
$clr2: #74767E;

$clr-hov: #1dbf73;
$clr-btn-hov: #19a463;
$clr-btn-search: #222325;
$clr-font: #62646a;
// search-hov-to
$clr-font-dark: #404145;
$clr-border: #E4E5E7;
$clr-background:#f5f5f5;
$clr-link: #446ee7;
$clr-star: #ffb33e;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1400px;

$layoutPadding: 20px;

$padded-break-mobile: $mobile-breakpoint + $layoutPadding * 2;
$padded-break-narrow: $narrow-breakpoint + $layoutPadding * 2;
$padded-break-normal: $normal-breakpoint + $layoutPadding * 2;
$padded-break-wide: $wide-breakpoint + $layoutPadding * 2;